table[is=cb-logger]  {
    padding-top: 5px;
    color: #ccc;
    font: 14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

table[is=cb-logger] td {
    vertical-align: top;
}

table[is=cb-logger] td.date {
    min-width: 85px;
}

table[is=cb-logger] td.level {
    padding-left: 10px;
    padding-right: 10px;
}

table[is=cb-logger] td.level-error {
    color: #bc3f3c;
}