table[is=cb-logger]  {
    padding-top: 5px;
    padding-left: 4px;
    color: #969896;
    font: 14px "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;
    border-spacing: 0px;
    border-collapse: separate;
}

table[is=cb-logger] td {
    vertical-align: top;
}

table[is=cb-logger] td.date {
    min-width: 85px;
}

table[is=cb-logger] td.level {
    padding-left: 10px;
    padding-right: 10px;
}

table[is=cb-logger] td.level-error {
    color: #bc3f3c;
}