#editor-pane {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 99px;
    right: 0;
    background: #242424;
}

#log-pane {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    background: #242424;
    min-height: 20px;
    padding-left: 6px;
}

#log-scrollable {
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 20px;
    width: 100%;
}

#log-header {
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 2px;
    background: #e3e3e3;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #a0a0a0;
    padding-left: 5px;
    color: #606060;
    font: 12px "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;
    -webkit-user-select: none;
}

#log-header:before {
    border-top: 1px solid #a0a0a0;
    content:"";
    display:block;
    position:absolute;
    top:-2px;
    left:0;
    right:0;
}

#log-header .title {
    float: left;
    position: relative;
    top: 11px; 
    transform: translateY(-9px);
}

#log-header .close {
    background-image: url("../img/log-close.png");
    opacity: 0.4;
    height: 9px;
    width: 9px;
    margin-top: 5px;
    margin-right: 6px;
    float: right;
    background-repeat: no-repeat;
}

#log-header .close:hover {
    opacity: 1.0;
}

#file-tree-pane {
    position: absolute;
    left: 0;
    top: 32px;
    bottom: 0;
    right: 400px;
    height:100%;
    min-width: 100px;
    background: #242424;
}

#right-pane {
    position: absolute;
    right: 0;
    top: 32px;
    bottom: 0;
    width: 400px;
    height:100%;
    color:#fff;
    background: #22252b;
    border-left: 2px solid #17191d;
    min-width: 0px;
    -webkit-user-select: none;
}

.drag-x {
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    width: 4px;
    cursor: w-resize;
    z-index: 5;
}

.drag-y {
    position: absolute;
    left: 0;
    top: 0px;
    bottom: 0;
    height: 5px;
    width: 100%;
    cursor: n-resize;
    z-index:1000;
}