cb-toolbar {
    background-image: url("../img/tb-background.png");
    background-repeat: repeat-x;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    height: 43px;
    width: 100%;
    display: block;
    -webkit-user-select: none;
}

cb-toolbar select {
    margin-top: 12px;
    margin-left: 14px;
}

cb-toolbar .btn {
    height:26px;
    min-width:26px;
    margin-top:8px;
    margin-left:8px;
    border: 1px solid transparent;
    float:left;
    background-repeat: no-repeat;
    background-position: 2px center;
}

cb-toolbar .btn.right {
    float: right !important;
    margin-right: 5px;
}

cb-toolbar .btn span {
    padding-left: 26px;
    padding-right: 4px;
    position: relative;
    top: 3px;
    font: 14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

cb-toolbar .btn.disabled span {
    opacity: 0.6; 
}

cb-toolbar .btn.disabled {
    -webkit-filter: grayscale(1);
    opacity: 0.4;
    pointer-events: none;
}

cb-toolbar .btn.tb-new {
    background-image: url("../img/tb-new.png");
}

cb-toolbar .btn.tb-open {
    background-image: url("../img/tb-open.png");
}

cb-toolbar .btn.tb-save {
    background-image: url("../img/tb-save.png");
}

cb-toolbar .btn.tb-undo {
    background-image: url("../img/tb-undo.png");
}

cb-toolbar .btn.tb-redo {
    background-image: url("../img/tb-redo.png");
}

cb-toolbar .btn.tb-cut {
    background-image: url("../img/tb-cut.png");
}

cb-toolbar .btn.tb-copy {
    background-image: url("../img/tb-copy.png");
}

cb-toolbar .btn.tb-paste {
    background-image: url("../img/tb-paste.png");
}

cb-toolbar .btn.tb-start {
    background-image: url("../img/tb-start.png");
}

cb-toolbar .btn.tb-stop {
    background-image: url("../img/tb-stop.png");
}

cb-toolbar .btn.tb-settings {
    background-image: url("../img/tb-settings.png");
}

cb-toolbar .btn.tb-record {
    background-image: url("../img/tb-record.png");
}

cb-toolbar .btn.tb-record-red {
    background-image: url("../img/tb-record-red.png");
}

cb-toolbar .btn:hover {
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    background-color:#ececec;
}

cb-toolbar .separator {
    height: 22px;
    width: 1px;
    margin-top: 11px;
    margin-left: 4px;
    border-right: 1px solid #aeaeae;
    float:left;
}